  body {
  background-color: #413D3D;
}

.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color:black;
  padding: 10px 50px 50px 50px;
  border: 2px solid white;
  
}

.grid h1 {
  font-family: "sans-serif";
  background-color: navy;
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 10px;
  
}

#score {
  color: white;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: white;
}

.buttons {
  margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
  background-color: navy;
  width: 250px;
  font-size: 20px;
  color:white;
  border: 1px solid white;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
  cursor: pointer;
  background-color: #413D3D;
} 

 



 