.navbar-container {
  max-width: none;
  color: black;
  size: 25px;
  
}
body {
background-color: aquamarine;
}
h1 {
  font-size: 38px;
  color: black
}
p {
  font-size: 26px;
}
ul {
  font-size: 22px;
  background-color:whitesmoke;
  margin: auto;
  padding: auto;
}

.container {
  background-color:white;
  margin: auto;
  padding: 10px;
  border-radius: 22px;
}
.clearHighScore {
  margin: auto;
}

a {
  background-color: #ffffff;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.clearHighScore {
  background-color: aquamarine;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
